
AccordianSlider/.vs/AccordianSlider/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.config
*.sln
*.csproj
*.user
*.dll
*.pdb
*.exe
*.xml
*.rsp
*.targets
*.CopyComplete
*.cache
*.txt
*.cs
*.props
*.xdt
*.nupkg
*.ps1
*.rtf
.vs/PortfolioGallery/v15/.suo
